*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

body{
   
}

.pesquisar{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}


.containerPopular{
    max-width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}

#pesquisaFilme {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 400px; /* Largura do input */
  }
  
  #pesquisaFilme:focus {
    outline: none; /* Remove a borda de foco padrão */
    border-color: dodgerblue; /* Altera a cor da borda quando o input está em foco */
    box-shadow: 0 0 5px dodgerblue; /* Adiciona uma sombra para destacar */
  }
  
  #pesquisaFilme::placeholder {
    font-size: 20px;
    color: #aaa; /* Altera a cor do texto do placeholder */
  }
  

.container{
    max-width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}

.filme {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    justify-content: space-between;
    border: 2px solid rgb(78, 78, 79);
    width: 90%; /* Alteração: tornando responsivo */
    max-width: 500px; /* Limitando a largura máxima */
    gap: 40px;
    margin-top: 4rem;
    margin-bottom: 10px;
    background-color: black;
    max-height: 1200px;
}

.filme:hover{
    transform: scale(1.01);
    cursor: pointer;
}

.titulo{
    margin-top: 20px;
    color: #fff;
    font-size: 30px;
    justify-content: center;
    color: #fff;
}

.image{
    width: 100%;
    height: 100%;
}


.btn{
    width: 90%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    border-radius: 15px;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 32px;
    background-color: rgb(0, 213, 255);
    color: #fff;
    font-weight: bolder;
}

.btn:hover{
  
   background-color:  rgba(0, 213, 255, 0.658);
}

.vote{
    color: #fff;
    font-size: 35px;
    text-align: center;
}

a{
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.estrela{
    width: 80px;
    height: 80px;
}

.titlePopular{
    color: red;
    font-size: 60px;
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 55px;
    color: #fff;
}

input{
    background-color: #fff;
}

.swiper {
    position: relative;
    overflow: hidden; /* Adicione overflow hidden */
}

.swiper-slide {
    width: 300px; /* Defina uma largura fixa para os slides */
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}


    .filme img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-pagination {
        position: absolute; /* Tornando a paginação absolutamente posicionada */
        /* Ajustando a posição vertical */
        left: 0; /* Ajustando para começar da borda esquerda */
        right: 0; /* Ajustando para terminar na borda direita */
        margin: 0 auto; /* Centralizando horizontalmente */
        text-align: center;
        transition: .3s opacity;
        z-index: 10;
        background-color: rgba(41, 40, 40, 0); /* Adicionando um fundo semi-transparente */
        padding: 5px;
        border-radius: 10px;
        max-width: 400px;     
    }

#footer{
    color: white;
    text-align: center;
    margin-top: 2rem;
}